

<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Serial Port Settings
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list no-lines>
        <form [formGroup]="settingsForm" *ngIf="settingsReady">

            <ion-item>
                <ion-label floating>Baud Rate</ion-label>
                <ion-select formControlName="baudid" interface="popover">
                    <ion-option *ngFor="let item of baudlist" value="{{item.id}}" [selected]="(baudid == 3)">
                        {{item.speed}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input *ngIf="!showPasswordText" formControlName="password" type="password"></ion-input>
                <ion-input *ngIf="showPasswordText" formControlName="password" type="text"></ion-input>
                <button ion-button clear item-right icon-only (click)="showPassword(input)">
                    <ion-icon name="eye" is-active="false"></ion-icon>
                </button>
            </ion-item>

            <ion-item>
                <ion-label floating>Group membership in the mesh: {{meshid}}</ion-label>
                <ion-input formControlName="group" type="text" maxlength="4" pattern="[a-fA-F\d]+"></ion-input>
            </ion-item>
        </form>

    </ion-list>

    <button ion-button full color="primary" (click)="save()" *ngIf="!connected">Save Settings</button>
    <button ion-button full color="danger" (click)="save()" *ngIf="connected">Save Settings</button>

</ion-content>
